<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flexbox</title>
    <link rel="stylesheet" href="/stylesheets/flexbox_test.css">
</head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <h1>Makers</h1>
                    <li><a href="#">Listings</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        <section class="hero">
            <h2>Sign up now to view course listings</h2>
            <button>Sign Up</button>
        </section>

        <section class="intro">
            <div class="intro-image">
                <img src="/images/coding_screen1.jpg" alt="Screen showing coding snippets">
            </div>

            <div class="intro-text">
                <h2>Learn to Code at Makers</h2>
                <p>Follow our 12 week course</p>
                <p>Flexible course start dates, every three months</p>
                <p>To find out more, sign up for a free account and start coding!</p>
            </div>
        </section>
    </body>
</html>