<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookmark Manager 2.0</title>
    <link rel="stylesheet" href="/stylesheets/bm2.css">
    <link rel="icon" href="/bm2/icons/airplane.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lily+Script+One&display=swap" rel="stylesheet">

</head>
<body>
    <header id="main-head">
        <nav>
            <h1 id="logo">Bookmark Manager 2.0</h1>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Benefits</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <section id="hero">
        <h2>A safe, secure and convenient way to store your bookmarks</h2>
        <ul>
            <li>State of the art encryption technology with a dedicated admin</li>
            <li>We monitor your bookmarks 24 hrs a day 365.25 <span class="small">(+/- few milliseconds)</span> days a year!</li>
        </ul>
        <button>Signup now!</button>
    </section>
    <section id="signup-benefits">
        <header class="signup-benefits-head">
            <h2>Don't rely on your memory to remember your bookmarks</h2>
            <h3>By storing them with Bookmark Manager 2.0 <br> your protecting your bookmarks from being forgotten!</h3>
            <img src="/bm2/img/cloud.png" class="moving-cloud1 cloud">
            <img src="/bm2/img/cloud.png" class="moving-cloud2 cloud">
        </header>
    </section>
    <section id="benefits">
        <header class="benefits-head">
            <h2>A bookmark manager for the 21st Century</h2>
            <h3>Store links greater than the 8.3 limit imposed by others</h3>
            <h3>We believe our users should be free to choose, so why be limited to small bookmarks!</h3>
        </header>
        <div class="cards">
            <div class="card">
                <div class="card-icon"><img src="/bm2/icons/shield.png" alt=""></div>
                <h4>Secure Storage</h4>
                <p>Saved on a Postgres Server, the most advanced in the world</p>
            </div>
            <div class="card">
                <div class="card-icon"><img src="/bm2/icons/floppy-disk.png" alt=""></div>
                <h4>Large magnetic floppy drives</h4>
                <p>Magnetic drives running in raid 0, doubles the performance on a tape drive!</p>
            </div>
            <div class="card">
                <div class="card-icon"><img src="/bm2/icons/no-stopping.png" alt=""></div>
                <h4>Unbreakable Backup</h4>
                <p>Stored on magnetic iron filings embedded on a thin tape for maximum protection</p>
            </div>
        </div>
    </section>
    <section id="signup">
        <div class="form-wrapper">
            <header class="form-head">
                <h2>Sign Up</h2>
            </header>
            <form action="">
                <div class="f_name-form form-items">
                    <label for="f_name">First Name:
                    <input type="text" name="f_name" required></label>
                </div>
                <div class="l_name-form form-items">
                    <label for="l_name">Last Name:
                    <input type="text" name="l_name" required></label>
                </div>
                <div class="username-form form-items">
                    <label for="username">Username:
                    <input type="text" name="username" required></label>
                </div>
                <div class="password-form form-items">
                    <label for="password">Password:
                    <input type="password" name="password" required></label>
                </div>
                <div class="email-form form-items">
                    <label for="email">Email:
                    <input type="email" name="email" required></label>
                </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </section>
    <footer>
        <div class="footer-wrapper">
            <h5>Bookmark Manager 2.0 &copy; patent pending</h5>
        </div>
    </footer>
</body>
</html>
